.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(61, 54, 54);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    display: block;
    color: white;
    font-family: Arial, sans-serif;

  }
  
  /* Campos de entrada del formulario */
  .form-control {
    width: 100%; /* Ancho completo del campo de entrada */
    padding: 10px; /* Espacio interno del campo de entrada */
    font-size: 16px; /* Tamaño de la fuente del campo de entrada */
    border: 1px solid #ced4da; /* Borde gris claro */
    border-radius: 5px; /* Esquinas redondeadas */
    box-sizing: border-box; /* Asegura que el padding no exceda el ancho del contenedor */
  }
  
  .form-control:focus {
    border-color: #80bdff; /* Color del borde cuando el campo está enfocado */
    outline: none; /* Elimina el contorno por defecto */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); /* Sombra alrededor del campo enfocado */
  }
  
  /* Botón de envío */
  .btn-primary {
    padding: 10px 15px; /* Espaciado interno del botón */
    background-color: white; /* Color de fondo azul */
    color: black; /* Color del texto del botón */
    border: none; /* Elimina el borde por defecto */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 16px; /* Tamaño de la fuente del botón */
    cursor: pointer; /* Cambia el cursor a pointer al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
  
  .btn-primary:hover {
    background-color: grey; /* Color de fondo más oscuro al pasar el cursor */
  }
  